@import url('https://fonts.googleapis.com/css?family=Nunito');
@import './../../../style/breakpoints';

h1.ATitle {

  text-align: left;
  padding-left: 20%;
  padding-top:3%;
  font-size: 100px;
  @include breakpoint-xs{
    font-size: 65px;
    padding-top: 5%;
    padding-left: 0%;
    margin-left: 0px;
    text-align: center;
  }

  @include breakpoint-sm{
    font-size: 65px;
    padding-top: 5%;
    padding-left: 0%;
    margin-left: 0px;
    text-align: center;
  }
}

.bioWrapper{
  display: block;
  padding-left: 10%;
  padding-right: 10%;

  .portrait{
    float:left;
    margin-left: auto;
    margin-right: auto;



    @include breakpoint-xs{
      margin-left: auto;
      margin-right: auto;
      margin: 0 auto;
      text-align: center;
    }
    @include breakpoint-sm{
      margin-left: auto;
      margin-right: auto;
      margin: 0 auto;
      text-align: center;

    }

    img{
      border:30px solid #4FB99F;
      overflow: hidden;
      border-radius: 50%;
      transition: 0.70s;
      vertical-align: top;
      height: auto;


      &:hover{
        transition: 0.70s;
        transform: rotate(360deg);
      }
    }
  }

  .bio{
   float: left;
   font-family: 'Nunito', sans-serif;
   font-size: 20px;
   width: 60%;
   padding-left: 5%;

   @include breakpoint-xs{
     font-size: 15px;
     width:85%;

   }

   @include breakpoint-sm{
     font-size: 15px;
     width:85%;
   }
  }
}
