@keyframes bounce {
   25% {
     transform: translateY(-9px);
   }
   50% {
     transform: translateY(0px);
   }
   75% {
     transform: translateY(-4px);
   }
   100% {
     transform: translateY(0px);
   }
 }

.Icon{

  &:hover{
  animation-name: bounce;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
}
