@import './../../style/breakpoints';

.Welcome{
  height: 100vh;


  @include breakpoint-xs{
    height:80vh;
  }

  @include breakpoint-sm{
    height:80vh;

  }


}

.About{
   height: 100vh;


   @include breakpoint-xs{

     height:175vh;
   }
   @include breakpoint-sm{
     height:250vh;
   }
}

.Portfolio{
  height: 100vh;


  @include breakpoint-xs{
    height:150vh;
  }
  @include breakpoint-sm{
    height:220vh;
  }

}

.Contact{
  height: 100vh;


  @include breakpoint-xs{
    // background-color: green;
  }
}
