@import url('https://fonts.googleapis.com/css?family=Nunito');
@import './../../../../style/breakpoints';

.LiftSpotter{
  padding-top: 5%;
  font-family: 'Nunito', sans-serif;

  h1{
    text-align: center;
  }
  p{
    font-size: 18px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width:30%;
    @include breakpoint-xs{
      width:70%;
      text-align: center;
    }
  }
  h2{
    text-align:left;
    margin-left: auto;
    margin-right: auto;
    width:30%;
    @include breakpoint-xs{
      text-align:center;
      width:70%;
    }
  }

  figure{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
    @include breakpoint-xs{
        width:70%;
    }

    i{
      font-size: 10px;
      margin-left: auto;
      margin-right: auto;
      width:30%;
    }
  }
}
