$breakpoints:(
  'xs' : 0px, //max
  'sm' : 450px, //max
  'md' : 769px, //max
  'lg' : 1000px, //max
  'xl' : 1200px, //min
);


@mixin breakpoint-xs{
  $min-value: map-get($breakpoints, xs);
  $max-value: map-get($breakpoints, sm) - 1;
  @media (min-width: $min-value) and (max-width: $max-value){@content;}
}

@mixin breakpoint-sm{
  $min-value: map-get($breakpoints, sm);
  $max-value: map-get($breakpoints, md) - 1;
@media (min-width: $min-value) and (max-width: $max-value){@content;}
}

@mixin breakpoint-md{
  $min-value: map-get($breakpoints, md);
  $max-value: map-get($breakpoints, lg) - 1;
  @media (min-width: $min-value) and (max-width: $max-value){@content;}
}

@mixin breakpoint-lg{
  $min-value: map-get($breakpoints, lg);
  $max-value: map-get($breakpoints, xl) - 1;
  @media (min-width: $min-value) and (max-width: $max-value){@content;}
}

@mixin breakpoint-xl{
  $min-value: map-get($breakpoints, xl);

  @media (min-width: $min-value){@content;}
}
